body {
    background-color: rgb(136, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
}
 h1 {
    color: white;
    text-align: center;
    font-size: 60px;

 }

 section {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
 }

 div {
   margin: 25px;
 }

 img {
   width: 100%;
   border-radius: 50%;
   width: 300px;
   height: 300px;
 }

 footer {
    text-align: center;
    color: white;
    font-weight: 20px;
 }